* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 2vw 11vw;
    justify-content: space-between;
    /* background-color: greenyellow; */
    height: 12vh;
}
#nav2{
    display: flex;
    align-items: flex-start;
    padding: 1vh;
    position: relative;
    z-index: 19;
}
#nav2 h4{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400px;
    padding: 15px;
    margin-bottom: 1.5vw;
}
.navelements h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}
.navelements h5 span{
    font-size: 10px;
    margin-left: 18px;
    font-weight: 300;
    display: inline-block;
    /* transform: translateY(25px); */
}
#navbottom{
    width: 79%;
    height: 0vh;
    position: absolute;
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid rgba(208, 203, 203, 0.635);
}





nav button{
    background-color: #0ba34e;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0ba34e ;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 8px;
    text-transform: uppercase;
    font-weight: 600;
}
button img{
    height: 20px;
    width: 20px;
    margin-left: 12px;


}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 14vh;
    font-weight: 1500;
    line-height: 12vh;

}
#page1 img{
    height:80px;
    background-color: #0ba34e;
    border-radius: 50%;
}
#page1 p {
    text-align: center;
    font-weight: 500;
    margin-top: 5vh;
    font-size: 2vh;
}
#but{
    display: flex;
    align-items: center;
    justify-content: center;

     
}
#but h4{
    font-weight: 200;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 12px;
    border: 1px solid rgba(181, 181, 181, 0.791);
    border-radius: 50px;
    margin-top: 5px;
}
#but h4:nth-last-child(2){
    border: none;
    padding: 3px;
}
#moving-div {
    /* background-color: red; */
    height: 4vw;
    margin-top: 10vh;
    position: absolute;
    bottom: 10%;
    width: 50%;
    margin-left: 10vh;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;

}
#moving-div .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;

    animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 20px;
    width: 30px;
    background-color: #111;
    margin: 0 1vw;
 

}
@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }

    
}
#blur-left{
    height: 100%;
    width: 10%;
    background: linear-gradient(to left,#111,transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right,transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

}












#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}